extends layout

append js
  script(type='text/javascript', src='js/admin.js')

block main
  .container
    h1 地点以及路线列表
    hr
    .row
      .col-xs-9.col-sm-6.mapContent
        #main
        nav(aria-label='...')
          ul.pager
            li
              a#car Car
            li
              a#footWay FootWay
            li
              a#all All
      .col-xs-9.col-sm-6
        .place-list
          h3 地点列表
          table.table.table-bordered
            thead
              tr
                th 地点名称
                th 评分
                th 被赞数
                th 评论数
                th.manage 管理
            tbody
        .link-list
          h3 路线列表
          table.table.table-bordered
            thead
              tr
                th 起点
                th 终点
                th 类型
                th.manage 管理
            tbody



      #infoModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='infoModalLabel', aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true')
                | ×
              h4#myModalLabel.title
                | 地点详情
            .modal-body
              .name
                地点名称:&nbsp;
                span
              .introduce
                地点介绍:&nbsp;
                span
              .place-meta
                a#favourite(href='#')
                  i.fa.fa-thumbs-o-up&nbsp;被赞:
                  span.favourite
                a#point(href='#')
                  i.fa.fa-star&nbsp;评分:
                  span.point
              .place-comments
                h4 地点评论
                ul.comments
              form#addComment
                h4 添加评论
                .form-group
                  label(for="email") 邮箱
                  input.form-control(type="email", name="email", placeholder="请输入邮箱...", required="true")
                .form-group
                  label(for="content") 内容
                  textarea.form-control(type="text", name="content", placeholder="请输入内容...", required="true")
                .form-group
                  label(for="point") 请选择对该地点的的评分
                  select.form-control(name="point")
                    option(value="0") 0
                    option(value="1") 1
                    option(value="2") 2
                    option(value="3") 3
                    option(value="4") 4
                    option(value="5") 5
                button.btn.btn-primary 提交
            .modal-footer
              button.btn.btn-danger(type='button', data-dismiss='modal')
                | 关闭
              button.btn.btn-success(type='button', data-dismiss='modal')
                | 确认
      #changeModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='changeModalLabel', aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true')
                | ×
              h4#myModalLabel.title
                | 地点详情
            .modal-body
              #changePlaceError
              form#changeInfo
                h4 地点信息修改
                .form-group
                  label(for="value") 地点名称
                  input#value.form-control(type="text", name="value", placeholder="请输入地点名称...", required="true")
                .form-group
                  label(for="introduce") 地点介绍
                  textarea#introduce.form-control(type="text", name="introduce", placeholder="请输入地点介绍...", required="true")
                .form-group
                  label(for="x") X坐标
                  input#x.form-control(type="number", name="x", placeholder="请输入地点的x坐标...", required="true")
                .form-group
                  label(for="y") Y坐标
                  input#y.form-control(type="number", name="y", placeholder="请输入地点的y坐标...", required="true")
                button.btn.btn-primary 提交
            .modal-footer
              button.btn.btn-danger(type='button', data-dismiss='modal')
                | 关闭
              button.btn.btn-success(type='button', data-dismiss='modal')
                | 确认
      #linkEditModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='linkEditModalLabel', aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true')
                | ×
              h4#myModalLabel.title
                | 修改路线信息
            .modal-body
              #changeLinkError
              form#changeLinkInfo
                h4 路线信息修改
                .form-group
                  label(for="source") 起点
                  select#source.form-control(name="source", required="true")
                .form-group
                  label(for="target") 终点
                  select#target.form-control(name="target", required="true")
                .form-group
                  label(for="type") 类型
                  select#type.form-control(name="type", required="true")
                    option(value="0") 人行道
                    option(value="1") 车行道
                .form-group
                  label(for="value") 长度
                  input#link_value.form-control(type="number", name="value", placeholder="请输入该路线的长度...", required="true")
                button.btn.btn-primary 提交
            .modal-footer
              button.btn.btn-danger(type='button', data-dismiss='modal')
                | 关闭
              button.btn.btn-success(type='button', data-dismiss='modal')
                | 确认
